
<h2 class="center">利用規約</h2>

<div class="row">
  <div class="span8 offset2">
    <p class="indent">下記ご利用規約をよくお読みください。同意される方は「同意する」をクリックしてください</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <textarea rows="30" cols="1" style="height:30%; width:100%; border:solid; background-color:white;" readonly>

      WINWORKSサービス利用約款

      １章　総則 
      第１条（本約款） 
      ウィンワークス株式会社（以下、「ウィンワークス」といいます）は、本約款及びサービス仕様書の規定に基づき、勤務スケジューリングに関するオンライン利用サービス（以下「本サービス」といいます）を提供します。なお、本サービスの利用に係る契約（以下「サービス利用契約」といいます）は、第５条の定めに基づいて成立し、申込書及び本約款並びにサービス仕様書により構成されるものとします。
      第２条（目的）
      お客様（以下、「ＥＵ」といいます）は、第5条の申込書にて本サービスを利用することを目的として、ウィンワークスが提供する本サービスの利用を申込むものとします。この場合、ＥＵはかかる利用につき一切の責任を負うものとします。
      第３条 （通知方法） 　
      1.	ウィンワークスからEUへの通知は、電子メール又は書面によることとし、申込書記載の住所又はアドレス宛へ通知するものとします。ただし、書面による通知は、第一種郵便に限るものとします。
      2.	EUからウィンワークへの通知においては、本条第1項を準用するものとし、下記宛てへの通知とします。
      記
      ウィンワークス株式会社
      〒100-0014
      東京都千代田区永田町2-9-6
      十全ビル804 電話：03-3503-5262　Fax：03-3503-5261
      メール：administration@win-works.com 


      第４条（有効期間） 　　　
      申込書に記載された本サービスの利用期間開始日から1年間までをサービス利用契約の有効期間とします。有効期間の満了の３ヶ月前までにいずれかの当事者から書面による契約終了の意思表示がない限り、当該契約は、引き続き１年間自動的に更新されるものとし、その後も同様とします。

      第２章 　本サービスの申込み及び承認
      第５条　（サービス利用契約の成立） 
      1.	サービス利用契約は、申込対象となる本サービスの内容を特定するために必要な事項を記載したウィンワークス所定の申込書をEUがウィンワークスに対して提出し、これに対してウィンワークスが承諾したときに成立するものとします。
      2.	ウィンワークスが第１項に定める申込書受領後、５営業日以内に何らの応答をしない場合、当該申込書に基づくサービス利用契約が成立したものとみなします。
      第６条 　（登録情報） 　
      1.	EUが取得するユーザーアカウントは本サービスにアクセスするための前提であり、ウィンワークスに登録され、且つ、その権限を有する者のみがアクセス及び利用を認められます。EUがユーザーアカウントを開設するためには、登録フォームにEUの現在の正確で完全な情報を記入して登録しなければなりません。
      2.	EUはウィンワークスに提出している情報に変更が生じた場合には速やかに更新しなければなりません。 　
      第７条 　（ID及びパスワードの発行） 　
      ウィンワークスはサービス利用契約成立後、速やかにEUに対してパスワード及びＩＤ等を発行します。 

      第３章　EUの義務と責任 
      第８条 　（料金） 　
      1.	本サービスの対価（初期設定費用及び利用料金）に関する支払方法及び支払時期は申込書記載のとおりとします。
      2.	消費税については本サービスの対価の支払時において法律上有効な税率を基準とします。 　
      3.	EUが本サービスの対価の支払いを遅延した場合、延滞額と支払期限の翌日から支払済みまで延滞額に対する年14.6％の割合により算出された遅延損害金を支払わなければなりません。 　
      第９条　（ＩＤ及びパスワード等の管理） 　
      1.	EUはウィンワークスから発行されたＩＤ及びパスワードを善良なる管理者の注意をもって管理しなければなりません。 　
      2.	ＥＵの責に帰すべき事由によるＩＤ及びパスワードの紛失・盗難・漏洩の場合、直ちに書面によりウィンワークスに届け出なければならず、ウィンワークスの指示に従うこととします。ＩＤ・パスワードの再発行のために必要な費用は全て責に帰すべき当事者の負担とします。 
      3.	EUはウィンワークスから発行されたＩＤ及びパスワードを第三者に譲渡したり貸し与えたりして使用させることはできません。また、それと事実上同一と看做される行為もできません。 
      第１０条　（禁止行為） 　
      1.	次に記載する目的でEUが本サービスを利用することは禁止されます。 
      （１） 不正なメール（嫌がらせメールや繰り返し送りつけられるメール、求められていない
      　　　 メールなど）を送付することを目的に本サービスを利用すること。 
      （２）　第三者の情報又はデータを不当に収集、取得すること。
      （３） 不正アクセス行為。
      （４）その他本サービスを勤務スケジューリング以外の目的で利用すること。
      2.	ウィンワークスは、ＥＵが不正行為を行った場合であって、当該不正行為により損害を被ったとしても責任を負いません。

      第４章　ウィンワークスの権利 
      第１１条　（知的財産権など） 　　　
      本サービス及びすべてのコンテンツに関する著作権その他の知的財産権を含む全ての権利はウィンワークスまたはウィンワークスが指定する第三者（詳細：別紙記載のとおり）に帰属します。お客様には、第15条第4項に定める使用権を除き、何らかの権限が付与されるものではありません。 
      第１２条　（利用の制限）
      1.	本サービスの利用は、ＥＵの内部業務目的のための利用に限るものとし、第三者に使用許諾を与えたり、販売したりして当該第三者の利用を可能にすること並びに事実上それと同視される行為は一切禁止されます。 

      第１３条　（EUからの提案について）
      EUから提案される本サービスについての発案、提案及び要望に関して発生する特許権（特許を受ける権利を含む）、営業秘密その他の知的財産権はウィンワークスに帰属するものとします。

      第１４条　（契約の解除） 　
      1.	EU又はウィンワークスは、相手方に以下の各号のいずれかに該当する事由が生じた場合、何らの通知・連絡をすることなく、その自由な裁量において、サービス利用契約の全部又は一部を解約することができます。
      （１）  サービス利用契約に違反し、相当期間を定めた催告に拘らず是正しなかった場合
      （２）  第２６条に違反した場合
      （３）  破産手続開始・民事再生手続開始・会社更生手続開始の申立てをした場合、解散決議若しくは重要な営業の譲渡決議をした場合、手形交換所の取引停止処分を受けた場合、支払停止になった場合、公租公課の滞納処分を受けた場合又は信用不安が生じた場合
      2.	前項によりウィンワークスがサービス利用契約を解約する場合、EUに対する事前の書面通知をもってＥＵから預かり管理しているデータ及び関連情報等（以下「データ等」といいます。）はすべて削除・廃棄されるものとします。その場合、仮にEUに当該データ等の削除・廃棄によって損害が生じたとしても、ウィンワークスは一切の責任を負いません。

      第５章　ウィンワークスの責任 
      第１５条　ウィンワークスによる保証がないこと
      ウィンワークスは、本サービスに関して、EUの使用目的に適合することを保証するものではありません。また、以下の事項についても一切保証するものではありません。
      （１）本サービスが中断なく利用できること
      （２）本サービスの利用により正確なコンテンツが得られること。また、得られたコンテンツがEUの希望するものであること。 
      （３）本サービスのシステムに一切の不具合が存在しないこと。 
      （４）本サービスを利用するに際し、本サービス利用開始時以降、第三者の故意又は過失によるウイルス等の有害物が一切存在しないこと。 
      （５）本サービスにより送信される電子メールの延着、未達、流出、消失、改ざん、文字化けが一切ないこと。 
      第１６条　ウィンワークスの損害賠償責任　
      本サービスに関し、ウィンワークスの責めに帰すべき事由によりEUその他の第三者に損害が発生した場合のウィンワークスの損害賠償責任は、ウィンワークスの故意又は重大な過失に起因する損害、第１７条に定める秘密保持義務違反に起因する損害及び第２２条に定める権利侵害に起因する損害を除き、当該損害発生の原因となったサービス利用契約に定める本サービスの対価の12ヶ月分相当額（初年度に関しては初期設定費用を含む）を上限として、EUに直接に生じた通常の損害とします。 但し、如何なる場合も逸失利益についてはウィンワークスは免責されるものとします。
      第１７条　アカウント情報及びデータ 　
      1.	ウィンワークスは本約款にて明示的に許諾されている場合ないしはEUの本サービスの利用に必要な場合さらには本サービスのシステム上のトラブルシューティングに必要な場合を除き、EUのデータ等を含む一切の情報について、アクセス・編集・改変することはありません。 
      2.	ウィンワークスはEUのデータ等を含む一切の情報を第三者に開示することはありません。
      3.	データ等について、その内容等（正確性、適法性、妥当性、正当性、著作権をはじめとする権利関係）に関する一切の責任はEUが負担し、ウィンワークスは責任を負担しません。 
      4.	EUが自己の責に帰すべき事由により誤ってデータ等を抹消し、改変し、破損し又は保存することができずに損害や損失を被ったとしても、ウィンワークスは一切の責任を負いませんし、何らの義務を負担するものでもありません。 
      第１８条　（インターネットの遅延による損害等） 　　　
      インターネットは、ウィンワークスの責に帰さない事由によりその利用度や取引等のデータ通信の量などによって、通信が制限されたり遅延したりすることがあります。ウィンワークスは、かかる場合におけるデータ等損失、営業の機会損失等について責任を負うものではありません。

      第６章 サービスの一時的な停止及び中止について 
      第１９条　（サービスの一時的中断） 　
      1.	ウィンワークスは、次のいずれかの場合には、EUに事前に連絡することなく、一時的に本サービスの提供を中断することがあります。しかし、それに起因してEUあるいは第三者が如何なる損害を被ったとしても、ウィンワークスは何らの責任を負いません。 
      （１） 本サービスの提供のために必要なシステム及び関連設備等（以下「システム等」と
      　　　 いいます。）の保守点検を臨時に行う必要が生じたとき。 （定期点検は事前通知）
      （２） ウィンワークスの責に帰さない事由により通信回線や電力等の供給が中断されたとき。 
      （３） 地震・火災・停電等の不可抗力により本サービスの提供が出来ないとき。  　
      （４）システム等に外部から不正アクセスあるいは有害なコード等が送付されたため、本サービスを一時的に中断する必要が生じたとき。
      2.	前項各号の場合以外の事由で、かつ、ウィンワークスの責めに帰すべき事由により、本サービスの提供が24時間以上遅滞・中断等の事態が発生し、それに起因してEUが損害を被った場合、ウィンワークスはその損害を第１６条に従って賠償する責任を負うものとします。
      3.	被害を被ったEUの要望に基づき、ウィンワークスは可能な限り、本サービスの提供が遅滞や中断等に関する情報を開示するなどして、EUの被害回復に協力します。
      第２０条　（本サービスの廃止） 　
      ウィンワークスは、EUに対し、6ヶ月前までの予告期間をもって事前に連絡の上、本サービスの提供を廃止することができます。当該廃止日をもってサービス利用契約の全部又は一部を解約することができるものとします。この場合、ウィンワークスは既に支払われている本サービスの対価のうち、廃止する本サービスについて提供しない日数に対応する額を日割計算にてEUに返還するものとします。

      第７章 サポートについて 
      ウィンワークスはEUが本サービスを利用するにあたり、以下の範囲でサポートサービスを提供します。 
      第２１条　（サポート） 　
      １．本サービスを提供するために必要な機器及びソフトウェアに起因する本サービス機能の不具合が発生した場合、ウィンワークスは速やかに当該不具合を取り除き、回復に努めるものとします。
      　
      ２．本サービスの利用にあたり、次のサポートサービスをEUが別途特定する３名までのご担当者に対して提供します。
      （１） 電話及びメールによる障害報告受付け及び障害対応結果の連絡
      （２） 電話及びメールによる本サービスの機能または仕様に関する質問受付け及び回答。 ただし、EUの業務に特化した利用方法、操作方法、ルールの設計や設定にかかる提案等の相談業務は含まない。
      （３） 電話及びメールによる本サービスの機能または仕様に関する改修、改善要望の受付け。

      第８章 その他 

      第２２条　（第三者の権利侵害） 　　　
      ウィンワークスは、本サービスの提供若しくは利用が第三者の権利を侵害し又は侵害するおそれがあることが判明した場合、速やかにEUにその事実を通知するとともに、自らの責任と負担においてその解決を図るものとします。また、第三者からＥＵに対して本サービスによる権利侵害を理由とした異議申立がなされた場合、EUが速やかにその事実をウィンワークスに通知し、当該異議申立を解決するために必要な権限を付与し、合理的範囲で協力することを条件に、ウィンワークスの責任と負担においてその解決を図るものとします。但し、当該異議申立が、EUによる本サービスの改変、ウィンワークスの指定しない他の素材との組み合わせ、その他EUの責めに帰すべき事由に起因する場合はこの限りではありません。
      第２３条　（第三者委託について）
      　　　ウィンワークスは、本サービスの提供に関連して、一部もしくはその全部をウィンワークスの指定する第三者に再委託することができるものとします。
      第２４条　（裁判管轄） 　
      1.	サービス利用契約には日本法が適用されます。 　
      2.	サービス利用契約又は本サービスに関する一切の紛争の第１審の専属合意管轄裁判所は東京地方裁判所又は東京簡易裁判所とします。 
      第２５条　（サービス利用契約の効力及び解釈） 　
      1.	本約款の条項の一部が無効であると判断されたとしても、その条項の趣旨・内容を可能な限り反映させて他の条項を解釈することとします。 　
      2.	サービス利用契約に基づく本サービスを利用されるEUとウィンワークスとの間は、当該利用契約が存在するのみであって、資本提携、ジョイントベンチャー、パートナーシップ、雇用ないしは代理店契約といった契約関係が生じるわけではありません。 
      第2６条（反社会的勢力の排除）
      １．EU及びウィンワークスは、次の各号に掲げる事項について表明し、保証します。
      （１）自己及び自己の再委託先又は調達先が「組織犯罪対策要綱」（平成１６年１０月２５日警察庁次長通達）に規定される暴力団、暴力団関係企業、暴力団員等（以下、「反社会的勢力」という。）でないこと、及び反社会的勢力でなかったこと
      （２）自己の取締役、監査役及びこれらに準ずる役員並びに自己の経営を支配する者が反社会的勢力でないこと、及び反社会的勢力でなかったこと
      （３）反社会的勢力を利用しないこと、及び利用していないこと
      （４）反社会的勢力に対して資金等の提供又は便宜の供給などを行わないこと、及び行っていないこと
      （５）第三者をして相手方に対し暴力的行為、詐術、脅迫的言辞を用いて、相手方の名誉を毀損し、また相手方の業務を妨害しないこと
      （６）自己の親会社若しくは子会社（いずれも会社法の定義による。）及びこれらの役員等が、前各号に定める事実に該当しないこと。
      ２．EU及びウィンワークスは、自己が前項各号のいずれかに違反した場合又はその恐れがある場合、相手方に対し直ちに報告するものとします。
      ３．EU及びウィンワークスは、相手方が本条１項に違反していたことが判明した場合、何ら責任を負うこと無く、何時でもサービス利用契約を解除することができます。
      以上 


       
      サービス仕様書
      1．サービスの種類及び内容
      1.1 WINWORKS One
      設定した条件に基づき、繁閑に適合した勤務表を自動作成するサービス。
      詳細は「WINWORKS One操作説明書」（Mrs.RICに関する項は除く）によるものとします。
      1.2 Mrs.RIC（オプション）
      マニュアル操作で勤務表を作成し、作成した結果を登録したメールアドレスに通知するサービス。
      詳細は「WINWORKS One操作説明書」によるものとします。
      1.3 WINWORKS Staff Master（オプション）
      スタッフの属性および履歴を管理し、必要に応じで検索するサービス。
      詳細は「WINWORKS Staff Master操作説明書」によるものとします。
      1.4 WINWORKS Recruit（オプション）
      スタッフの新規採用、異動の申請・承認プロセスならびに新規採用の募集を実行するサービス。
      詳細は「WINWORKS Recruit操作説明書」によるものとします。
      1.5 WINWORKS Planning（オプション）
      各拠点毎に人員予算をたて、在籍者と予算の差、採用申請時の予算との整合性を確認するサービス。
      詳細は「WINWORKS Planning操作説明書」によるものとします。
      1.6 e-就業 for WINWORKS（オプション）
      WINWORKS Oneと連携し、WINWORKS Oneで作成した予定に沿った打刻を含む就業の実績管理をするサービス


      2．サービスの利用可能時間
      月曜日　午前１：００~午前５：００を除くすべての時間帯
      ただし、WINWORKSサービス利用約款第19条に定める「サービスの一時的中断」に定めた場合を除く

      3. お問い合わせサポート
      以下の内容のお問い合わせサポートを提供します。
      （１）	内容と種類
      上記サービスの利用に関する質問への回答及び助言など、WINWORKSサービス利用約款第21条に定めるサポートサービス
      （２）	サポート窓口
      別途定める電話、電子メールアドレス
      （３）	サポート時間
      営業日の午前９：３０から午後５：３０

      4．知的財産権
      以下のサービスを除き、全てのサービス及びコンテンツに関する著作件その他の知的財産権を含む
      全ての権利はウィンワークス(株)に帰属します。（１）e-就業 for WINWORKS
      本サービスおよび全てのコンテンツに関する著作権その他の知的財産権を含む全ての権利は(株)日本ダイナミックシステムズに帰属します。

      本書に記載されているウィンワークスの商品・製品及びサービスの名称はウィンワークス(株)の商標ないしは登録商標、(株)ニッポンダイナミックシステムズの商品・製品及びサービスの名称は(株)ニッポンダイナミックシステムズの商標ないしは登録商標です。
    </textarea>
  </div>
</div>

<form class="form-horizontal" name="approval_form" action="<%= root_path %>" method="get">
  <div class="row">
    <div class="span3 offset4">
      <input class="btn" type="submit" value="同意しない" style="pull-left;" onclick="document.getElementById('approve').value = false;">
    </div>
    <div>
      <input class="btn" type="submit" value="同意する" style="pul-right;" onclick="document.getElementById('approve').value = true;">
    </div>
  </div>
  <input type="hidden" name="approve" id="approve" value="">
</form>
