<p class="indent">Issue Exporter のご利用には、「利用規約」への同意が必要です。</p>
<p class="indent">下記ご利用規約をよくお読みください。同意される方は「同意する」をクリックしてください。</p>
<h2 class="center margin-all">利用規約</h2>
<div class="row">
  <div class="span10 offset1">
    <pre>
      <%= render partial: 'termstext' %>
    </pre>
  </div>
</div>
<form class="form-horizontal" name="approval_form" action="<%= root_path %>" method="get">
  <div class="row">
    <div class="span3 offset4">
      <input class="btn" type="submit" value="同意しない" style="pull-left;" onclick="document.getElementById('approve').value = false;">
    </div>
    <div>
      <input class="btn" type="submit" value="同意する" style="pul-right;" onclick="document.getElementById('approve').value = true;">
    </div>
  </div>
  <input type="hidden" name="approve" id="approve" value="">
</form>
