
<h2 class="center">利用規約</h2>

<div class="row">
  <div class="span8 offset2">
    <p class="indent">下記ご利用規約をよくお読みください。同意される方は「同意する」をクリックしてください</p>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <textarea rows="30" cols="1" style="height:30%; width:100%; border:solid; background-color:white;" readonly>
      <%= render partial: 'termstext' %>
    </textarea>
  </div>
</div>

<form class="form-horizontal" name="approval_form" action="<%= root_path %>" method="get">
  <div class="row">
    <div class="span3 offset4">
      <input class="btn" type="submit" value="同意しない" style="pull-left;" onclick="document.getElementById('approve').value = false;">
    </div>
    <div>
      <input class="btn" type="submit" value="同意する" style="pul-right;" onclick="document.getElementById('approve').value = true;">
    </div>
  </div>
  <input type="hidden" name="approve" id="approve" value="">
</form>
