<h1>SupportPages#terms</h1>
<p>Find me in app/views/support_pages/terms.html.erb</p>
<p>利用規約</p>

<textarea rows="30" cols="1" style="height:40%; width:100%; border:solid; background-color:white;" readonly>
  <%= render partial: 'termstext' %>
</textarea>
