<h1>SupportPages#terms</h1>
<p>Find me in app/views/support_pages/terms.html.erb</p>
<h2 class="center margin-all">利用規約</h2>
<div class="row">
  <div class="span10 offset1">
    <pre>
      <%= render partial: 'termstext' %>
    </pre>
  </div>
</div>
