<div class="hero-unit">
  <h1 class="center"> Issue Exporter </h1><br>
  <h5>This application export issue list of your repository in CSV file </h5>
  <%= link_to "Sign in!", '/auth/github', class: "btn btn-large" %>
</div>
