<div class="hero-unit">
  <h1 class="center" style="font-weight:900; margin:50px;"> Issue Exporter </h1>
  <h5 style="color:gray;">This application export issue list of your repository in CSV file </h5>
  <%= link_to "Sign in!", '/auth/github', class: "btn btn-large" %>
</div>
