@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #fefefe;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 2em;
}

.margin-all{
  margin: 30px 30px;
}

/* typography */

body, th, td { font-size: 50%; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 200;
}

/* header */

header{
  ul {
    li {
      margin-left: 5px;
      margin-right: 5px;
      font-size: large;
    }
  }
}

/* footer */

footer{
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  ul {
    li {
      margin-left: 5px;
      margin-right: 5px;
      float: left;
    }
  }
}
